@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Golos Text", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cashback {
  padding: 48px 0 182px;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 30px;
}

.cashback-links {
  margin-bottom: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.cashback-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.cashback-link-next {
  font-weight: 700;
}

.cashback-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.cashback-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  max-width: 807px;
}

.cashback-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .cashback-img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 767px) {
  .cashback {
    padding: 32px 0 250px;
  }
  .cashback-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 16px;
  }
  .cashback-text {
    font-size: 14px;
    line-height: 150%;
  }
  .cashback-links {
    margin-bottom: 40px;
  }
}
.how {
  padding: 120px 0 50px;
}

.how-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-title {
  margin-bottom: 48px;
}

._title {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #383838;
}

.how-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-item {
  text-align: center;
}

.how-item-box {
  margin-bottom: 28px;
}

.how-item-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #383838;
  max-width: 192px;
}

.how-line-right {
  margin: 30px 23px 0 24px;
}

.how-line-left {
  margin: 30px 24px 0 52px;
}

.how-line-mini {
  display: none;
}

@media (max-width: 992px) {
  .how-line svg {
    width: 140px;
  }
  .how-item-text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .how {
    padding: 80px 0 40px;
  }
  .how-line {
    display: none;
  }
  .how-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .how-title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .how-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
  .how-item-box {
    margin-bottom: 0;
  }
  .how-line-mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0 8px 34px;
  }
  .how-body,
.how-row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.banks {
  padding: 50px 0 60px;
}

.banks-title {
  margin-bottom: 32px;
}

.banks-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.banks-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 258px;
          flex: 1 1 258px;
}

.banks-item-img {
  margin-bottom: 16px;
}
.banks-item-img img {
  border-radius: 10px;
  width: 100%;
}

.banks-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banks-item-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #383838;
  margin-bottom: 8px;
}

.banks-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #888888;
}
.banks-item-text span {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #EE791C;
}

@media (max-width: 992px) {
  .banks-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 32px;
  }
  .banks-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
  }
}
@media (max-width: 844px) {
  .banks-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
}
@media (max-width: 767px) {
  .banks-item-img {
    margin-bottom: 8px;
  }
  .banks {
    padding: 40px 0;
  }
  .banks-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
  }
  .banks-title {
    font-size: 24px;
    margin-bottom: 32px;
  }
}
.advantages {
  padding: 60px 0 120px;
}

.advantages-title {
  margin-bottom: 32px;
}

.advantages-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.advantages-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 330px;
          flex: 1 1 330px;
}

.advantages-item-img {
  margin-bottom: 24px;
}

.advantages-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #383838;
  margin-bottom: 16px;
}

.advantages-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #383838;
}

@media (max-width: 992px) {
  .advantages-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 32px;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 40px 0 80px;
  }
  .advantages-title {
    font-size: 24px;
  }
  .advantages-item-img {
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
  }
  .advantages-item-img img {
    width: 100%;
  }
  .advantages-item-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .advantages-item-text {
    font-size: 14px;
  }
}
.towars {
  padding: 170px 0 171px;
  position: relative;
  z-index: 1;
}

.towars-title {
  max-width: 813px;
  margin-bottom: 32px;
}

.towars-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  height: 48px;
  padding: 0 24px;
  background: #EE791C;
  border-radius: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.towars-fon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .towars {
    padding: 48px 0 305px;
  }
  .towars-title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}